@model IEnumerable<PatientBillingSystem.Models.Bed_Allocation>

@{
    ViewBag.Title = "Bed Allocation";
    if (Session["userType"] == null)
    {
        Response.Redirect("~/User/Index");
    }
}

<h2>Bed Allocation</h2>

<p>
    @Html.ActionLink("Add Allotment", "Allot")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ward_Aolloted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bed_Aolloted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward_Aolloted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bed_Aolloted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Allocation_No }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Allocation_No })
            </td>
        </tr>
    }

</table>
<div>
    <br />
</div>
<div class="form-group">
    <div class="col-md-offset-1 col-md-10 center-block">
        <a href="/User/Operator" class="btn btn-default" role="button">Go Back</a>
    </div>
</div>
